<section class="relative min-h-screen bg-cover flex items-center justify-center" style="background-image: url('/3.png');">
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  <div class="relative flex text-center text-neutral-content">
    <div class="max-auto">
      <h1 class="mb-5 text-5xl font-bold">上手く描けないから価値がある</h1>
      <p class="mb-5">このアプリは、あなたが画伯となって芸術を投稿できます。<br>本物の芸術は万人に分からないからこそ価値がある。</p>
      <%= link_to '今すぐ始める', new_user_path, class: "btn btn-primary" %>
    </div>
  </div>
</section>
<section class="py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">アプリの機能</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="card bg-base-100 shadow-md">
        <div class="card-body">
          <div class="text-4xl mb-4">
            <i class="fa fa-quora" aria-hidden="true"></i>
          </div>
          <h3 class="text-xl font-bold">クイズ展</h3>
          <p>※ログイン不要<br>・作品の題名を当てる4択クイズです<br>・クイズを投稿することもできます</p>
          <%= link_to 'クイズ展へ', play_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="card bg-base-100 shadow-md">
        <div class="card-body">
          <div class="text-4xl mb-4">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <h3 class="text-xl font-bold">しりとり展</h3>
          <p>※ログインが必要です<br>・他のユーザーとの絵しりとりができます<br>・5人の画伯が揃うまで結果は分かりません</p>
          <%= link_to 'しりとり展へ', shiritori_games_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="card bg-base-100 shadow-md">
        <div class="card-body">
          <div class="text-4xl mb-4">
            <i class="fas fa-cogs"></i>
          </div>
          <h3 class="text-xl font-bold">アトリエ展</h3>
          <p>※coming soon<br>・アプリ上で絵を描くことができます<br>・書いた絵は他展へ投稿ができます</p>
          <div class="btn btn-primary">coming soon</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-12 bg-base-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">本サービスを作ろうと思ったきっかけ</h2>
    <p class="mb-5">ある日の出来事。友達の子供が全て同じように見える丸を描いていました。<br>『これはママ』、『これはパパ』、『これはお兄ちゃん』<br>……。僕には到底分からなかったのです。<br>しかし描いた画伯にとっては家族の似顔絵を描いていました。
    <br>これは完全に僕の芸術的センスが欠如していると思いました。<br>もしかすると僕たちは、大人になるにつれて大切な何かを忘れているのではないか。<br>そう思い、このアプリを作りました。<br>画伯の描いた絵の感性を尊重し、僕たちはその絵から大切な何かを学ばせてもらう。
    <br>絵が上手い下手ではなく、その感性にこそ価値があるのだと。<br>このアプリを通じて、そんなことを感じていただけると幸いです。</p>
    <%= link_to 'がはくの世界へ', new_user_path, class: "btn btn-primary" %>
  </div>
</section>