<div class="w-5/6 mx-auto max-w-screen-xl my-0">
    <div class="flex h-0 justify-center items-center m-4">
      <%= image_tag 'title.png' %>
    </div>
    <div class="flex m-4">
      <div class="indicator w-3/4">
        <div class="chat chat-end mb-10">
          <p class="chat-bubble">このアプリはこどもたちの芸術を楽しむアプリじゃ<br>おぬしに「こどもごころ」が分かるかの？</br></p>
        </div>
      </div>
      <div class="w-1/4 mt-12">
        <div class="w-full">
          <%= image_tag 'gahakukun.png' %>
        </div>
      </div>
    </div>
    <div class="flex h-8 justify-center items-center m-4">
      <button class="btn btn-primary m-4">
        <%= link_to 'スタート', '#' %>
      </button>
      <button class="btn btn-primary m-4">
        <%= link_to 'クイズをつくる', new_question_path %>
      </button>
    </div>
</div>
