<div class="relative bottom-0 w-full footer footer-center p-4 bg-base-100 text-base-content">
  <aside class="items-center grid-flow-row">
    <p>Copyright © 2024 がはくのきもち</p>
    <p>This app respects those rights and will not use the artwork without permission.</p>
  </aside>
</div>