<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <aside>
    <p>© 2024 がはくのきもち - All artwork posted on this app belongs to the respective authors. This app respects those rights and will not use the artwork without permission.</p>
  </aside>
</footer>